Hallo,

ich möchte, um potentiellen Arbeitgegebern meine KI Fähigkeiten zu demonstrieren ein paar kleine Bastelprojekte machen.
Zum Anfang hätte ich mir gedacht eine "Fahrzeugzähler" zu bauen.

Endanforderung:
- es soll auf einem Pixel 5 laufen
- die Kamera des Handys soll als Datenquelle funktionieren
- Ausgabe:
    - die bisher gefunden autos sollen eingerahmt werden und eine fortlaufende ID bekommen
    - ein Zähler soll die Anzahl alle bisher erkannten Fahrzeuge darstellen

Zwischenziel:
- es soll in einem GitHub Codespace laufen
- mit kleinen Änderungen soll es auf das Pixel portierbar schreiben
- statt der Kamera soll ein Video verwendet werden
- im 2ten schritt soll für jedes Fahrzeug eine IF auf dem Rahmen sichtbar sein

Was bisher geschah:
- es wurde ein skrip mit MobileNetSSD estellt, die 300x300 auflösung war alledings zu klein und 700x700 zu resourcenintensiv
- das script wurde auf YOLOv8 Nano umgestellt 
- das Tracking wird mit DeepSORT realisiert. Die Fahrzeuge werden nur in den untern 2/3 des Bildes gesucht um Resourcen zu sparen.
- es wird nur jeder 2te Frame ausgwertet

Tech Stack:
- YOLOv8 Nano
- Tracking Funktion DeepSORT
- TensorFlow Lite (TFLite) when moved to Android Pixel 5

Python 3.10 in use

Current folder structure -> tree
.
├── How2_Git.txt
├── LICENSE
├── Proj_Requirements.txt
├── README.md
├── VideoWithMarkedCars__.mp4
├── VideoWithMarkedCars_compr.mp4
├── models
│   ├── deploy.prototxt
│   ├── mobilenet_iter_73000.caffemodel
│   └── yolov8n.pt
├── notebooks
│   ├── car_counter_pt.ipynb
│   └── car_counter_pt.py
├── requirements.txt
└── videos
    └── CarsOnAHighway_30fps.mp4


