# pleas find here the correct dependencies for the car counter prototype for a pyton 3.10
# run the file with --   pip install -r requirements.txt
ultralytics==8.3.221
torch==2.3.1
torchvision==0.18.1
numpy==1.26.4
opencv-python==4.10.0.84
matplotlib==3.9.2
